# Node/Bun
node_modules/
.pnpm-store/
.yarn/
.cache/
dist/
build/
.turbo/

# Expo/React Native
.expo/
.expo-shared/
android/
ios/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*
.metro-cache/
.metro-virtual/*

# Env
.env
.env.*
apps/*/.env
apps/*/.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
*.orig.*
*.apk
*.aab
*.ipa
tmp/
temp/
caches/

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.ts.timestamp-* 

